<!doctype html>
<title>Prediccion de formula</title>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
        <h1>resultado: {{messages[0]}}</h1>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
	<p>
        <input type="number" name="primero" autocomplete="off" required>
	</p>
    <p>
        <input type="number" name="segundo" autocomplete="off" required>
    </p>
    <p>
	<input type="submit" value="Submit">
    </p>
</form>
